---
layout: default
title: My Gallery
---
<main>
        <div class="welcome-message">
            <h2>Welcome to my collection!</h2>
            <p>Take a look around. If you see something you like, feel free to reach out.</p>
            
            <div class="encora-container">
                <a href="https://encora.it/profile/DireSpider" target="_blank" class="encora-button">
                    View My Encora Profile
                </a>
            </div>
        </div>

        {% include status.html %}

        {% include updated.html %}

        <div class="split-layout">
            
            <div class="split-column">
                <!-- <h2>General Wants</h2>
                <ul>
                    <li>Specific items from the 2018 Tour</li>
                    <li>High-quality audio captures</li>
                    <li>Any missing dates from my main list</li>
                    <li>Understudies and swings</li>
                </ul> -->

                <h3>Favorite Shows</h3>
                <ul>
                    <li>Recent Hadestown</li>
                    <li>Ragtime</li>
                    <li>Next to Normal</li>
                </ul>

                <h3>Favorite Actors</h3>
                <ul>
                    <li>Noah Mullins</li>
                    <li>Jack Wolfe</li>
                    <li>Morgan Dudley</li>
                    <li>Caissie Levy</li>
                </ul>
            </div>

            <div class="split-column">
                <h2>Rules</h2>
                <ul>
                    <li>If status is Limited then I cannot guarantee a response.</li>
                    <li>Standard ratios apply (1 Audio = 1 Audio, 1 Video = 1 Video, 1 Video = 2 Audios).</li>
                    <li>Please send full links (Preferably MEGA or Google Drive, no YouTube rips.</li>
                    <li>Be polite and list exactly what you want in your first email. No this for that trades.</li>
                    <li>Whoever intiates the trade sends first.</li>
                    <li>Respect NFT (Not For Trade) dates. If you ask for NFT items I will not respond and report you.</li>
                </ul>
                
                <div class="email-container">
                    Ready to trade? <a href="mailto:your.email@example.com" class="email-link">Email me here</a>
                </div>
            </div>

        </div>
    </main>
