<div class="badge-legend">            
            <div class="legend-item">
                <span class="media-type-badge">Media</span>
                <span>Format of the recording (Video/Audio)</span>
            </div>
            
            <div class="legend-item">
                <span class="nft-badge">NFT</span>
                <span>Not For Trade Forever (Strictly not available for trading) or not tradable until the given date has passed</span>
            </div>

            <div class="legend-item">
                <span class="non-encora-badge">Non-Encora</span>
                <span>Not to be posted on encora, can be posted on personal sites</span>
            </div>

            <div class="legend-item">
                <span class="commission-badge">Commission</span>
                <span>Obtained through a private Commission</span>
            </div>
        </div>
