<div class="badge-legend">            
            <div class="legend-item">
                <span class="media-type-badge">Media</span>
                <span>Format of the recording (Video/Audio)</span>
            </div>
            
            <div class="legend-item">
                <span class="nft-badge">NFT</span>
                <span>Not For Trade Forever or not tradable until the given date has passed</span>
            </div>

            <div class="legend-item">
                <span class="non-encora-badge">Non-Encora</span>
                <span>Not to be posted on encora, can be listed on personal sites</span>
            </div>

            <!-- <div class="legend-item">
                <span class="commission-badge">Commission</span>
                <span>Obtained through a private commission, NFTF, and not the be listed on encora</span>
            </div> -->
        </div>
