    <div class="recording-card">
        <div class="header">

          <div class="header-info">
            <span>Hadestown</span>
            <span class="separator">|</span> 
            <span>Broadway</span>
            <span class="separator">|</span> 
            <span>2026-02-24</span>
            <span class="separator">|</span> 
            <span>DireSpider</span>
          </div>

          <div class ="header-badges">
        <span class="media-type-badge">audio</span>
        
          



             </div>
        
        </div>

        <div class="info-section">
            <span class="label">Cast:</span>
            <span id="cast-display" class="content-text">
                Jack Wolfe (Orpheus), Morgan Dudley (Eurydice), Allison Russell (Persephone), Paulo Szot (Hades), Kurt Elling (Hermes), Kay Trinidad (Fate), Jessie Shelton (Fate), Shea Renne (Fate), Emily Afton (Worker), Malcolm Armwood (Worker), Jeffrey Cornelius (Worker), Sydney Parra (Worker), Alex Puette (Worker)
            </span>
        </div>

      
      <div class="info-section">
          <span class="label">Notes:</span>
          <div class="notes-text">
              
              
              <div style="margin-bottom: 0.5rem;">
                  <strong>Master Notes:</strong> Recorded from rear orchestra
              </div>
              
              
              
              
          </div>
      </div>
      


      

      
    </div>    <div class="recording-card">
        <div class="header">

          <div class="header-info">
            <span>Hadestown</span>
            <span class="separator">|</span> 
            <span>Broadway</span>
            <span class="separator">|</span> 
            <span>2026-02-04</span>
            <span class="separator">|</span> 
            <span>DireSpider</span>
          </div>

          <div class ="header-badges">
        <span class="media-type-badge">audio</span>
        
          



             </div>
        
        </div>

        <div class="info-section">
            <span class="label">Cast:</span>
            <span id="cast-display" class="content-text">
                Jack Wolfe (Orpheus), Morgan Dudley (Eurydice), Allison Russell (Persephone), Paulo Szot (Hades), Max Kumangai (u/s Hermes)
            </span>
        </div>

      
      <div class="info-section">
          <span class="label">Notes:</span>
          <div class="notes-text">
              
              
              <div style="margin-bottom: 0.5rem;">
                  <strong>Master Notes:</strong> Recorded at center orchestra
              </div>
              
              
              
              
          </div>
      </div>
      


      

      
<div class="info-section">
<span class="label">Format:</span>
<div class="notes-text">
 M4A - 202 MB
</div>
</div>

    </div>    <div class="recording-card">
        <div class="header">

          <div class="header-info">
            <span>Two Strangers (Carry a Cake Across New York)</span>
            <span class="separator">|</span> 
            <span>Broadway</span>
            <span class="separator">|</span> 
            <span>2026-04-09</span>
            <span class="separator">|</span> 
            <span>DireSpider</span>
          </div>

          <div class ="header-badges">
        <span class="media-type-badge">audio</span>
        
          



             </div>
        
        </div>

        <div class="info-section">
            <span class="label">Cast:</span>
            <span id="cast-display" class="content-text">
                Vincent Michael (s/b Dougal), Jana Larell Glover (s/b Robin)
            </span>
        </div>

      
      <div class="info-section">
          <span class="label">Notes:</span>
          <div class="notes-text">
              
              
              <div style="margin-bottom: 0.5rem;">
                  <strong>Master Notes:</strong> Standby Dougal and Robin, recorded from rear mezz. Includes red bucket speech. 
              </div>
              
              
              
              
          </div>
      </div>
      


      

      
<div class="info-section">
<span class="label">Format:</span>
<div class="notes-text">
 M4A - 91.5 MB
</div>
</div>

    </div>