<div class="recording-card">
<h2 class="header">
<span>Hadestown</span>
<span class="separator">|</span> 
<span>Broadway</span>
<span class="separator">|</span> 
<span>2026-02-04</span>
<span class="separator">|</span> 
<span>DireSpider</span>
<span class="separator">|</span> 
<span class="media-type-badge">audio</span>

  



</h2>

<div class="info-section">
<span class="label">Cast:</span>
<span id="cast-display" class="content-text">
Jack Wolfe (Orpheus), Morgan Dudley (Eurydice), Allison Russell (Persephone), Paulo Szot (Hades), Max Kumangai (u/s Hermes)
</span>
</div>



  
<div class="info-section">
<span class="label">My Format:</span>
<div class="notes-text">
 M4A - 202 MB
</div>
</div>

</div><div class="recording-card">
<h2 class="header">
<span>Hadestown</span>
<span class="separator">|</span> 
<span>Broadway</span>
<span class="separator">|</span> 
<span>2026-02-24</span>
<span class="separator">|</span> 
<span>DireSpider</span>
<span class="separator">|</span> 
<span class="media-type-badge">audio</span>

  



</h2>

<div class="info-section">
<span class="label">Cast:</span>
<span id="cast-display" class="content-text">
Jack Wolfe (Orpheus), Morgan Dudley (Eurydice), Allison Russell (Persephone), Paulo Szot (Hades), Kurt Elling (Hermes), Kay Trinidad (Fate), Jessie Shelton (Fate), Shea Renne (Fate), Emily Afton (Worker), Malcolm Armwood (Worker), Jeffrey Cornelius (Worker), Sydney Parra (Worker), Alex Puette (Worker)
</span>
</div>



  
</div>