    <div class="recording-card">
        <div class="header">

          <div class="header-info">
            <span>Wicked</span>
            <span class="separator">|</span> 
            <span>Broadway</span>
            <span class="separator">|</span> 
            <span>2004-07-18(M)</span>
            <span class="separator">|</span> 
            <span>Pigerty</span>
          </div>

          <div class ="header-badges">
        <span class="media-type-badge">video</span>
        
          



             </div>
        
        </div>

        <div class="info-section">
            <span class="label">Cast:</span>
            <span id="cast-display" class="content-text">
                Idina Menzel (Elphaba), Kristin Chenoweth (Glinda), Norbert Leo Butz (Fiyero), Sean McCourt (u/s The Wizard), Carole Shelley (Madame Morrible), Michelle Federer (Nessarose), Randy Harrison (t/r Boq), William Youmans (Doctor Dillamond)
            </span>
        </div>

      


      

      
    </div>